<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="sampleapp">
 
  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
 
  <name>MindShow</name>
 
  <description>
    Make your mindmap anywhere, share your mindmap in better experience.
  </description>
 
  <rim:permissions>
    <rim:permit>access_shared</rim:permit>
    <rim:permit>access_location_services</rim:permit>
    <rim:permit>use_camera</rim:permit>  
  </rim:permissions>
 
  <icon src="icon-150.png"/>
 
  <rim:splash src="splash-1280x768.png"/>
  <rim:splash src="splash-768x1280.png"/>
 
  <content src="index.html" rim:allowInvokeParams="true"/>
 
  <feature id="blackberry.ui.dialog"/>
   
  <feature id="blackberry.app.orientation">
    <param name="mode" value="landscape" />
  </feature>
 
  <feature id="blackberry.app">
    <param name="backgroundColor" value="0xFFFF0000" />
  </feature>
 
  <access uri="http://www.somedomain.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0"/>
  </access>
 
  <license href="http://www.example.com/"/>
 
</widget>