<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="47707CANAL.mSlide" Version="1.0.0.9" Publisher="CN=FF21260F-2BDF-43D5-B83E-9B2ED02149B2" />
  <Properties>
    <DisplayName>mSlide</DisplayName>
    <PublisherDisplayName>CANAL</PublisherDisplayName>
    <Logo>images\logo-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="mSlide" Logo="images\logo-150.png" SmallLogo="images\logo-30.png" Description="You can use mSlide to create mind maps easily, save them on your device, and export them as slides." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="mSlide" />
        <SplashScreen Image="images\logo-620-300.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>